body{
    background-image: linear-gradient(to right, red, yellow);
}
#container{
    box-shadow: 10px 10px 5px;
}
#container h1{
    text-align: center;
    color: black;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px #ff0000;
}
.animate {
    outline-color: red;
    /* also need animation and -moz-animation */
    -webkit-animation: shake 1s linear;
  }
  /* also need keyframes and -moz-keyframes */
  @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-20px);
    }
    25%, 58% {
        -webkit-transform: translateX(20px);
    }
    75% {
        -webkit-transform: translateX(-15px);
    }
    92% {
        -webkit-transform: translateX(15px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
  }
  